form {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 0 auto;
}


input,
textarea {
    margin: 10px;
    border: solid 5px 	#db7093;
    border-radius: 10px;
}

textarea {
    margin-bottom: 20px;
}

input {
    padding: 10px;
}

label {
    background-color: #ffb6c1;
    width: 20%;
    margin-left: 10px;
    border: solid 5px 	#db7093;
    border-radius: 10px;
    /* margin: 0 auto; */
    
}

#submit {
    background-color: #d8bfd8;
    width: 25%;
    /* margin: 0 auto; */
    
}





